* {
	box-sizing: border-box;
}
#test {
	width: 600px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
}

#test div {
	border: #000 solid 1px;
	box-sizing: border-box;
	background-color: green;
	position: relative;
}

.circle {
	z-index: 1;
	display: block;
	position: absolute;
	top: 9%;
	left: 9%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

#modal {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

#modal.hidden {
	display: none;
}

#modal.error {
	border: red solid 2px;
}

.modal-content {
	background-color: #f4f4f4;
	margin: 20% auto;
	width: 50%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-body {
	padding: 10px 20px;
	color: black;
}
